body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: darkolivegreen;
}

h1 {
    color: gold;
    text-align: left;
}

p {
    color: lightpink;
}